:root {
    --main-white: #fffcf2;
    --main-gray: #ccc5b9;
    --darker-gray: #403d39;
    --main-black: #252422;
    --main-orange:#eb5e28;
    --plain-yellow:yellow;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
 #background {
    font-size: 18px;
    line-height: 1.4;
    background-color: var(--main-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kalam', cursive;
    max-width: 400px; /* Set the maximum width of the site */
  margin: 0 auto; /* Center the site horizontally on the page */
  }
  

  .navbary ol{
    border:var(--main-black) 5px solid;
    background-color: var( --darker-gray);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 70px;
    border-radius: 30px;
  }

  .home,.about,.archive,.cast{
    text-decoration: none;
    padding: 5px 30px;
    border: none;
    color: var(  --main-orange);
    background-color:  var( --darker-gray);
    font-size: 30px;
    font-weight: 400;
    border-radius: 30px;
    transition: 0.3s;
  }

  .home:hover, .about:hover, .archive:hover, .cast:hover {
    background-color: var(--main-gray);
    color: var(--plain-yellow);
}

.socialbtns{
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-size: 26px;
}
.twi_icon,.youtu_icon ,.red_icon,.face_icon{
 color: var(--main-orange);
 transition: 0.3s;
}

.twi_icon:hover,.youtu_icon:hover,.red_icon:hover,.face_icon:hover{
  background-color: var(--main-gray);/*creates cool line*/
  color: var(--plain-yellow);
 }

h1{
  color: var(  --main-orange);
}

.wrapper_box{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
 background-color: var( --darker-gray);
 border-radius: 30px;
}

.paragraph_about{
  padding: 12px;
  color: var(--main-orange);

}

.title, .p {
  max-width: 70%;
  margin: 0 auto; /* To center the content horizontally within the grid cell */
}

.title{
  text-align: center;
 padding: 0;
}

.p{
padding: 30px;
word-wrap: break-word;
padding: 0;
}

.paragraph_content_warning{
  padding: 12px;
  color: var(--main-orange);
}

.paragraph_content_credits{
  padding: 12px;
  color: var(--main-orange);
}

.list{
padding-top: 30px;
  text-align: center;
  list-style-type: none
}